*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.login{
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login .container{
    box-shadow: 0 0 10px 0 rgba(88, 86, 86, 0.212);
    max-width: 800px;
    min-width: 800px;
    height: 600px;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
}
.login .container h4{
    font-size: 48px;
    margin-bottom: 25px;
}
.login .container .login-side{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

/* form */
.login form input{
    min-height: 48px;
    border-radius:8px ;
    padding: 0 10px;
    width: 100%;
    margin: 10px 0;
    outline: 0;
    border: 0;
    border-bottom: 1px solid #000;
    transition: all .5s ease-in-out;
}
.login form input:focus{
    border: 1px solid #000;
    transition: all .5s ease-in-out;
}
.login form .forget-pass {
    margin: 20px 0 10px 5px;
    text-align: center;
}
.login form .forget-pass a{
    color: #000;
    text-transform: capitalize;
    text-decoration: none;
    transition: .4s;
}
.login form .forget-pass a:hover{
    text-decoration: underline;
}
.login .login-side .login-submit{
    display: flex;
    justify-content: center;
    justify-content: center;
    margin-top: 45px;
}
.login .login-side .login-submit button{
    padding: 14px 45px;
    line-height: 1;
    background:linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    color: white;
    font-size: 16px;
    border: 0;
    border-radius: 500px;
    cursor: pointer;
}

.login .signup-side{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 30px;
    text-align: center;
    gap: 30px;
    justify-content: center;
    align-items: center;
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}
.login .signup-side h3{
    font-size: 48px;
}
.login .signup-side .signup-submit button{
    padding: 14px 45px;
    line-height: 1;
    background-color:transparent;
    color: white;
    font-size: 16px;
    border: 1px solid #fff;
    border-radius: 500px;
    cursor: pointer;
}